@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
    font-family: 'Press Start 2P', cursive;
}

h1 {
    font-size: 20px;
}

.window {
    height: 100hv;
    /* margin: 100px 25%; */
    padding: 7px;
    background-color: #c0c0c0;
}

.topbar {
    width: 100wv;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 40px;
    align-items: center;
    border-left: 5px solid #7f7f7f;
    border-top: 5px solid #7f7f7f;
    border-bottom: 5px solid #f1f1f1;
    border-right: 5px solid #f1f1f1;
}

.button {
    display: grid;
    border-right: 5px solid #7f7f7f;
    border-bottom: 5px solid #7f7f7f;
    border-left: 5px solid #f1f1f1;
    border-top: 5px solid #f1f1f1;
    justify-content: center;
    align-content: center;
    margin: 3px;
}

.button:hover {
    background-color: #b8b7b7;
}

.button:active {
    border-left: 5px solid #7f7f7f;
    border-top: 5px solid #7f7f7f;
    border-bottom: 5px solid #f1f1f1;
    border-right: 5px solid #f1f1f1;
}

.smiley-button {
    display: grid;
    background-color: #c3bfc0;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-content: center;
    padding: 1px 3px;
}

.score {
    top: 50%;
    background-color: #050000;
    color: #e6220c;
    height: 50px;
    border-left: 3px solid #7f7f7f;
    border-top: 3px solid #7f7f7f;
    border-bottom: 3px solid #f1f1f1;
    border-right: 3px solid #f1f1f1;
    padding: 0px 3px;
}

.game {
    border-left: 5px solid #7f7f7f;
    border-top: 5px solid #7f7f7f;
    border-bottom: 5px solid #f1f1f1;
    border-right: 5px solid #f1f1f1;
    background-color: #bfbfbf;
    justify-content: center;
    display: grid;
}

.difficulty-buttons {
    background-color: #c1c1c1;
    justify-content: space-between;
    /* padding: 0px 40px; */
    width: 160px;
    align-items: center;
    border-left: 5px solid #7f7f7f;
    border-top: 5px solid #7f7f7f;
    border-bottom: 5px solid #f1f1f1;
    border-right: 5px solid #f1f1f1;
}

.difficulty-button {
    width: 150px;
    height: 30px;
    border-right: 5px solid #7f7f7f;
    border-bottom: 5px solid #7f7f7f;
    border-left: 5px solid #f1f1f1;
    border-top: 5px solid #f1f1f1;
    text-align: center;
    justify-content: center;
}

.active {
    background-color: #a5a5a5;
}

.box {
    text-align: center;
    justify-content: center;
    background-color: #c0c0c0;
    border-right: 5px solid #7f7f7f;
    border-bottom: 5px solid #7f7f7f;
    border-left: 5px solid #f1f1f1;
    border-top: 5px solid #f1f1f1;
    font-weight: 700;
}

.box:hover {
    background-color: #b8b7b7;
}

.box-rev {
    background-color: #c0c0c0;
    border: 1px solid #7b7b7b;
    padding: 4px;
}

.box-flag {
    background-color: #9e9e9e;
}

.box--1 {
    /* background-color: red; */
}

.box-1 {
    color: blue;
}

.box-2 {
    color: green;
}

.box-3 {
    color: red;
}

.box-4 {
    color: darkblue;
}

.box-5 {
    color: darkred;
}

.box-6 {
    color: darkgreen;
}

.box-7 {
    color: darkslateblue;
}

.box-8 {
    color: grey;
}

.difficulty {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px;
    width: 100%;
    margin-top: 5px;
}

.menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 5px 10px;
    padding: 0;
    height: 100%;
    top: 0;
}

.menu div,
.menu h1 {
    margin: 0;
    padding: 0;
    font-size: 17px;
    color: #3d3d3d;
}